.player-layout
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    column-gap: 15px;

    .player
    {
        video
        {
            border: 1px solid var(--sec-color);
        }
    }

    .player-syn-layout
    {
        border: 1px solid var(--sec-color);
        width: 400px;
    }

    .player-poster-layout
    {
        padding: 15px;
        width: 300px;
        display: flex;
        justify-content: space-around;

        img
        {
            width: 100%;
        }

        .player-poster
        {
            width: 100px;
            height: 160px;
        }

        .player-rating
        {
            margin-top: 50px;
            text-align: center;
            font-size: 25px;
            img
            {
                width: 25px;
            }
            .player-rating-numbers
            {
                color: var(--sec-color);
            }
        }
    }

    .player-text-layout
    {
        text-align: center;
        font-size: 20px;
        
        .player-name
        {
            font-size: 25px;
            border-bottom: 2px solid var(--sec-color);
        }
        .player-name-2
        {
            margin-bottom: 10px;
        }
    }
}